* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    background-image: url("../img/library.gif");
    
    background-repeat: no-repeat;   
    background-size: cover;          
    background-position: center; ;

    
    
    background-size: 2000px 1250px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}

.login {
    width: 350px;
    padding: 35px;

    background: rgba(30, 20, 15, 0.60);

    backdrop-filter: blur(8px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);

    color: white;

    text-align: center;
    
}

.login input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    background: rgba(255, 255, 255, 0.15);

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;

    color: white;
    font-size: 16px;
}

.login .tab{

    color:rgb(129, 131, 240);
    margin-bottom: 15px;
}

.login button{

    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 100px;
    margin-bottom: 15px;


}

.login button:hover{

    color:#5a7ee2;
  text-decoration:underline;

}

.esquece_senha a{

    color:rgb(129, 131, 240);
  text-decoration: none;
  

    
}
.esquece_senha a:hover {
  color:#5a7ee2;
  text-decoration:underline;
}
.signup a{

color:rgb(129, 131, 240);
  text-decoration: none;
    
}

.signup a:hover{
color:#5a7ee2;
  text-decoration:underline;

}
